<!-- se extiende el layout base -->
{% extends "base.html" %}

<!-- se define el block con el contenido a mostrar -->
{% block content%}
{% if reservas %}
<table class="table ml-3 mr-3">
  <thead>
    <tr>
      <th scope="col">Num Habitacion</th>
      <th scope="col">Nombre Huesped</th>
      <th scope="col">Fecha Ingreso</th>
      <th scope="col">Fecha Salida</th>
      <th scope="col">Estado</th>
    </tr>
  </thead>
  <tbody>
  {% for reserva in reservas %}
        <tr>
          <th scope="row">{{reserva.habitacion.numero}}</th>
          <td>{{reserva.huesped}}</td>
          <td>{{reserva.fecha_ingreso}}</td>
          <td>{{reserva.fecha_salida}}</td>
          <td>{{reserva.estado}}</td>
        </tr>
  {% endfor %}
</tbody>
</table>
{% else %}
  <h3>No tiene reservas</h3>
{% endif %}
{% endblock %}
