<!-- se extiende el layout base -->
{% extends "base.html" %}

<!-- se define el block con el contenido a mostrar -->
{% block content%}
{% if reservas %}
<table class="table col-10">
  <thead>
    <tr>
      <th>Num Hab.</th>
      <th>Nombre Huesped</th>
      <th>Fecha Ingreso</th>
      <th>Fecha Salida</th>
      <th>Estado</th>
    </tr>
  </thead>
  <tbody>
  {% for reserva in reservas %}
        <tr>
          <th>{{reserva.habitacion.numero}}</th>
          <td class="text-capitalize">{{reserva.huesped}}</td>
          <td class="text-capitalize">{{reserva.fecha_ingreso}}</td>
          <td class="text-capitalize">{{reserva.fecha_salida}}</td>
          <td class="text-capitalize">{{reserva.estado}}</td>
        </tr>
  {% endfor %}
</tbody>
</table>
{% else %}
  <h3>No tiene reservas</h3>
{% endif %}
{% endblock %}
