<!-- se extiende el layout base -->
{% extends "base.html" %}

<!-- se define el block con el contenido a mostrar -->
{% block content%}
    <div class="col-3">
      <form method="GET" action="/buscar" class="card p-2 pt-3 pb-3 card-buscar">
        <h4 class="mb-3 text-center text-capitalize ">Encuentra tu habitacion ideal</h4>
        <div class="form-group input-group">
          <div class="input-prepend">
            <span class="input-group-text">
              <span class="input-prepend">
                <span class="add-on">
                  <i class="far fa-calendar-alt"></i>
                </span>
              </span>
            </span>
          </div>
          <input class="form-control no-border" type="text" name="fechas"/>
        </div>
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <span class="input-prepend">
                <span class="add-on">
                  <i class="fas fa-globe-americas"></i>
                </span>
              </span>
            </span>
          </div>
          <select name="ciudad"
            aria-label="Default" aria-describedby="inputGroup-sizing-default"
            class="form-control no-border">
              <option value="">Todas las ciudades</option>
              {% for ciudad in ciudades %}
                <option value="{{ciudad.id}}">{{ciudad.nombre}}</option>
              {% endfor %}
          </select>
        </div>

        <div class="form-group">
          <label>Precios</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <span class="input-prepend">
                  <span class="add-on">
                    <i class="fas fa-minus"></i>
                  </span>
                </span>
              </span>
            </div>
            <input type="number"
              aria-label="Default" aria-describedby="inputGroup-sizing-default"
              placeholder="Precio minimo"
              name="precio_min"
              class="form-control no-border"
              min="10000" max="100000" value="{{precio_min}}">

            <div class="input-group-prepend">
              <span class="input-group-text">
                <span class="input-prepend">
                  <span class="add-on">
                    <i class="fas fa-plus"></i>
                  </span>
                </span>
              </span>
            </div>
            <input type="number"
              aria-label="Default" aria-describedby="inputGroup-sizing-default"
              placeholder="Precio maximo"
              name="precio_max"
              class="form-control no-border"
              min="10000" max="100000" value="{{ precio_max }}">
          </div>
        </div>

        <button class="btn btn-info">
          <i class="fas fa-search"></i> Buscar
        </button>
      </form>
    </div>
    <div class="col-9">
      <div class="row">
        {% if habitaciones %}
          {% for habitacion in habitaciones %}
            <div class="col-4">
              <div class="card card-hover mb-3">
                <img class="card-img-top" src="https://media.staticontent.com/media/pictures/10436860-a22a-48d5-8fb0-05d195f73c68/323x250" alt="">
                <div class="card-body">
                  <h5 class="card-title text-capitalize">
                    {{habitacion.hotel.nombre}} <i class="fas fa-star star">{{habitacion.hotel.categoria}}</i>
                  </h5>
                  <h6 class="card-subtitle mb-2 text-muted">
                    Habitacion: {{habitacion.numero}}
                  </h6>
                  <p class="card-text">
                    Tipo: <span class="text-capitalize">
                      {{habitacion.tipo_habitacion}}
                    </span><br>
                    <i class="fas fa-map-marked"></i> <span class="text-capitalize">
                      {{habitacion.hotel.ubicacion}}, {{habitacion.hotel.ciudad}}
                    </span>
                  </p>
                </div>
                <div class="card-footer text-muted">
                  <i class="fas fa-dollar-sign"></i> {{habitacion.precio}}
                  <i class="fas fa-users"></i> {{habitacion.capacidad}}
                  <a href="/reservar/{{habitacion.id}}" class="btn btn-info btn-sm float-right">Reservar</a>
                </div>
              </div>
            </div>
          {% endfor %}
        {% else %}
        <div class="col-12">
          <div class="row justify-content-center">
            <h3 class=""> Lo sentimos no se encontraron habitaciones disponibles.</h3>
            <h3>Pruebe nuevamente con otra busqueda <i class="fas fa-search"></i></h3>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
{% endblock %}
