<!-- se extiende el layout base -->
{% extends "base.html" %}

<!-- se define el block con el contenido a mostrar -->
{% block content%}
  {% if info %}
  <div class="row justify-content">
    <h1> {{info}} <strong><i class="far fa-check-circle"></i></strong></h1>
  </div>
  {% else %}
    {% if habitacion %}
    <div class="row justify-content-center align-items-center">
      <div class="card-mod p-5 col-6">
        <p>Valoración hotel: <i class="fas fa-star star">{{habitacion.hotel.categoria}}</i></p>
        <h3 class=" text-capitalize">
          hotel: {{habitacion.hotel.nombre}}
        </h3>
        <h6>
          Habitacion numero: {{habitacion.numero}}
        </h6>

        <ul>
          <li>
            Tipo Habitacion: <span class="text-capitalize">
              {{habitacion.tipo_habitacion}}
            </span>
          </li>
          <li>
            <i class="fas fa-map-marked"></i> Ubicacion: <span class="text-capitalize">
              {{habitacion.hotel.ubicacion}}, {{habitacion.hotel.ciudad}}
            </span>
          </li>
          <li>
            Precio por noche: <i class="fas fa-dollar-sign"></i> {{habitacion.precio}}
          </li>
          <li>
            Capacidad maxima: {{habitacion.capacidad}} <i class="fas fa-users"></i>
          </li>
        </ul>
      </div>

      <form class="col-6 card card-buscar ancho" method="POST" action="/reservar">
        {% csrf_token %}
        <input type="hidden" name="id" value="{{habitacion.id}}">
        <div class="card-body">

          <div class="form-row">
            <div class="form-group col">
              <label>Fecha reserva</label>
              <div class="input-group">
                <div class="input-prepend">
                  <span class="input-group-text">
                    <span class="input-prepend">
                      <span class="add-on">
                        <i class="far fa-calendar-alt"></i>
                      </span>
                    </span>
                  </span>
                </div>
                <input style="max-height: 36px;" class="form-control no-border" type="text" name="fechas"/>
              </div>
            </div>

            <div class="col form-group">
              <label>Fecha nacimiento</label>
              <div class="input-group">
                <div class="input-prepend">
                  <span class="input-group-text">
                    <span class="input-prepend">
                      <span class="add-on">
                        <i class="far fa-calendar-alt"></i>
                      </span>
                    </span>
                  </span>
                </div>
                <input style="max-height: 36px;" type="text" class="form-control no-border" name="fecha_nacimiento" value="1992/02/16">
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="col form-group input-group">
              <div class="input-prepend">
                <span class="input-group-text">
                  <span class="input-prepend">
                    <span class="add-on">
                      <i class="fas fa-id-card-alt"></i>
                    </span>
                  </span>
                </span>
              </div>
              <input style="max-height: 36px;" id="ci" type="text" class="form-control no-border" name="ci" placeholder="ID / Pasaporte">
              <div id="ci_feed" class="text-center text-wrap"></div>
            </div>
            <div class="col form-group input-group">
              <div class="input-prepend">
                <span class="input-group-text">
                  <span class="input-prepend">
                    <span class="add-on">
                      <i class="far fa-user"></i>
                    </span>
                  </span>
                </span>
              </div>
              <input style="max-height: 36px;" id="nombre" type="text" class="form-control no-border" name="nombre" placeholder="Nombre">
              <div id="nombre_feed" class="text-center text-wrap"></div>
            </div>
          </div>

          <div class="form-row">
            <div class="col form-group input-group">
              <div class="input-prepend">
                <span class="input-group-text">
                  <span class="input-prepend">
                    <span class="add-on">
                      <i class="far fa-user"></i>
                    </span>
                  </span>
                </span>
              </div>
              <input style="max-height: 36px;" id="ap_pat" type="text" class="form-control no-border" name="apellido_pat" placeholder="Apellido paterno">
              <div id="ap_pat_feed" class="text-center text-wrap"></div>
            </div>
            <div class="col form-group input-group">
              <div class="input-prepend">
                <span class="input-group-text">
                  <span class="input-prepend">
                    <span class="add-on">
                      <i class="far fa-user"></i>
                    </span>
                  </span>
                </span>
              </div>
              <input style="max-height: 36px;" type="text" class="form-control no-border" name="apellido_mat" placeholder="Apellido materno">
            </div>
          </div>

          <div class="form-row">
            <div class="col form-group input-group">
              <div class="input-prepend">
                <span class="input-group-text">
                  <span class="input-prepend">
                    <span class="add-on">
                      <i class="fas fa-mobile-alt"></i>
                    </span>
                  </span>
                </span>
              </div>
              <input style="max-height: 36px;" type="number" id="tel" class="form-control no-border" name="telefono" placeholder="Telefono">
              <div id="tel_feed" class="text-center text-wrap"></div>
            </div>
            <div class="col form-group input-group">
              <div class="input-prepend">
                <span class="input-group-text">
                  <span class="input-prepend">
                    <span class="add-on">
                      <i class="far fa-envelope-open"></i>
                    </span>
                  </span>
                </span>
              </div>
              <input style="max-height: 36px;" id="email" type="email" class="form-control no-border" name="email" placeholder="Correo">
              <div id="email_feed" class="text-center text-wrap"></div>
            </div>
          </div>

          <input type="submit" class="btn btn-info float-right" id="enviar" value="Reservar">
        </div>
      </form>
    </div>
    {% else %}
      <div class="row justify-content">
        <h1 class=""> Lo sentimos no se encontro la habitacion. <i class="fas fa-search"></i></h1>
      </div>
    {% endif %}
  {% endif %}
{% endblock %}
