<!-- se cragan los archivos staticos -->
{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ title }} | Aterrizar.com</title>
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/footer.css' %}">
</head>
<body>
  <!-- hereda el navbar -->
  {% include "share/navbar.html" %}

  <!-- contenido de la web -->
  <div class="container-fluid mt-5">
    <div class="row justify-content-center">
      <div class="col-11">
        {% block content%}
        {% endblock %}
      </div>
    </div>
  </div>
  <!-- fin del contenido -->

  <!-- hereda el footer -->
  {% include "share/footer.html" %}
  <script src="{% static 'js/jquery.min.js' %}" charset="utf-8"></script>
  <script src="{% static 'js/popper.min.js' %}" charset="utf-8"></script>
  <script src="{% static 'js/bootstrap.min.js' %}" charset="utf-8"></script>
</body>
</html>
