<!-- se extiende el layout base -->
{% extends "base.html" %}
{% load lista_ciudades %}

<!-- se define el block con el contenido a mostrar -->
{% block content%}
<div class="row">
  <div class="card card-buscar col-6">
    <div class="card-body">
      <h3 class="text-capitalize text-primary">Busca tu habitación ideal</h3>
      <form action="">
        <div class="row">
          <div class="col">
            <div class="form-group">
              <select class="form-control" name="">
                {% for pais in paises %}
                  <option>{{pais}}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <select class="form-control" name="">
                {% for ciudad in ciudades %}
                  <option>{{ciudad}}</option>
                {% endfor %}
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <i class="fas fa-calendar-check"></i> Entrada
              <input class="form-control" type="date">
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <i class="fas fa-calendar-check"></i> Salida
              <input class="form-control" type="date">
            </div>
          </div>
        </div>
        <input type="submit" class="btn btn-info" value="Buscar">
      </form>
    </div>
  </div>

  <!-- carousel -->
  <div class="col-3">
  </div>
</div>
{% endblock %}
